{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{ single_product.images.url }}"></a>
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <h2 class="title">{{ single_product.product_name }}</h2>
                        <div class="mb-3">
                            {% if single_product.discount_percentage > 0 %}
                                <span class="text-muted h6" style="font-weight: 500;"><del>${{ single_product.price }}</del></span>
                                <span class="price h4 text-dark" style="font-weight: bold; margin-left: 10px;">${{ single_product.discounted_price }}</span>
                                <span class="badge badge-primary" style="margin-left: 50px; font-size: 0.9rem; padding: 5px 10px;">{{ single_product.discount_percentage|floatformat:0 }}% OFF</span>
                            {% else %}
                                <span class="price h4" style="font-weight: bold;">$ {{ single_product.price }}</span>
                            {% endif %}
                        </div>
                        <p>{{ single_product.description }}</p>
                        <hr>
                        <div class="row">
                            <div class="item-option-select">
                                <h6>Choose Color</h6>
                                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_color"> Silver
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_color"> Gray
                                    </label>
                                    <label class="btn btn-light active">
                                        <input type="radio" name="radio_color" checked> Gold
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_color"> Black
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item-option-select">
                                <h6>Select Size</h6>
                                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_size"> S
                                    </label>
                                    <label class="btn btn-light active">
                                        <input type="radio" name="radio_size" checked> M
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_size"> L
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="radio_size"> XL
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% if single_product.stock > 0 %}
                            <a href="#" class="btn btn-lg btn-primary"> <i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        {% else %}
                            <span class="text-danger h5">Out of Stock</span>
                        {% endif %}
                    </article>
                </main>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9">
                <header class="section-heading">
                    <h3 class="mb-4">Customer Reviews</h3>
                </header>
                <article class="box mb-3 p-3 border rounded bg-light">
                    <div class="d-flex align-items-center">
                        <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle mr-3">
                        <div>
                            <h6 class="mb-1 font-weight-bold">Mike John</h6>
                            <span class="text-muted">24.04.2020</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}